.profile{
background-color: rgb(158, 94, 161);
}

.description {
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: auto;
}


.avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(208, 140, 171);
    box-shadow: -33px -23px 43px 39px rgba(253, 251, 253, 0.4);
}



.name,.tag,.location{
    color:rgb(51, 49, 49);
    margin-bottom: 10px;
    font-weight: bold;
    margin: auto;
    text-align: center;
    justify-content: center;
    
}

.stats{
    display: flex;
    margin: auto;
    width: 400px;
    height: 30px;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: rgba(208, 140, 171, 0.9);
    border-radius: 8px;
    justify-content: center;
    color: rgb(51, 49, 49);
    
}

.statsItem{
    margin-right: 20px;
}

.label,.quantity{
    font-weight: bold;
}

.label{
    margin-right: 10px;
}